.activity{
}
.Label{
    margin-top: 0px;
    align-items: flex-start;
}
.title{
    background-color: #de2d37;
    border-radius: 3px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}