.roadmap {
    position: relative;
    align-items: center;
    padding: 50px;
    height: auto;

}

.container {
    width: 900px;
    height: 700px;
    position: absolute;
    margin-left: 400px;
    margin-bottom: 150px;
    padding-top: 100px;
    
   // background: linear-gradient(90deg, rgba(15,10,104,1) 0%, rgba(30,84,180,1) 50%, rgba(11,6,100,1) 100%);
    
    
}

.line {
    align-items: center;
    position: relative;
    width: 100%;
    border-radius: 40;
    background:#d7adfd;
    transition: width 1s;
    border-radius: 10px;
}

