.roadmap {
    position: relative;
    align-items: center;
    padding: 50px;
    height: 100% !important;
    overflow-y: hidden;

}

.container {
    width: 900px;
    height: 100% !important; 
}
.line {
    align-items: center;
    position: relative;
    width: 100%;
    border-radius: 40;
    background:#f9737a;
    transition: width 1s;
    border-radius: 10px;
}
.mainline {
    position: absolute;
    height:100%;
    background-color: #E9E9E9;
    width: 5px;
    right: 50%;
}
